@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans-400.woff2);
  font-weight: normal;
  font-display: swap
}


@font-face {
  font-family: PT Sans;
  src: url(../fonts/ptsans-700.woff2);
  font-weight: bold;
  font-display: swap
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #f2f2f2;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  color: #000000;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
}

.main-header {
  height: 65px;
  display: flex;
  padding: 0 70px;
}

.navigation {
  color: #000;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
}

.navigation-list {
  list-style: none;
  display: flex;
  margin-left: 28px;
  height: 100%;
}

.navigation-itme {
  height: 100%;
}

a.navigation-link {
  height: 100%;
  display: inline-block;
  padding: 20px 16px;
  color: #000;
  position: relative;
}


a.navigation-link:hover::after,
.navigation-link._active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  display: inline-block;
  margin-bottom: -2px;
}

.tools {
  margin-left: auto;
  list-style: none;
  color: #000;
  display: flex;
  align-items: center;
}

.tools-icons {
  display: flex;
  height: 100%;
}

.tools-icons li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tools-button-icon {
  display: inline-block;
  padding: 0 12px;
}

.tools-button {
  background: #756157;
  border-radius: 4px;
  padding: 9px 40px;
  margin-left: 10px;
  text-transform: uppercase;
  color: white;
}


.preview {
  width: 100%;
  height: 485px;
  background-image: url(../images/preview/jpg/preview-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.preview-subtitle {
  margin-top: 13px;
}

.preview-logo {
  margin-top: 54px;
}

.preview::after {
  width: 100%;
  height: 57px;
  content: '';
  background-image: url(../images/preview/svg/preview_bottom.svg);
  position: absolute;
  display: block;
  bottom: 0;
}

.advantages {
  font-weight: 700;
  color: #000000;
  line-height: 28px;
  text-align: center;
  font-size: 24px;
}

.about {
  padding: 69px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about._middle {
  padding: 64px 20px;
}

.about._last {
  padding: 96px 20px;
}

.about._middle .about-description,
.about._last .about-description {
  margin-top: 20px;
}

.about-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.about-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 25px;
}

.about-button {
  background: #756157;
  border-radius: 4px;
  color: white;
  margin-top: 54px;
  display: inline-block;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-list._first {
  margin-top: 21px;
}

.advantages-list._icon .advantages-item {
  gap: 30px;
}

.advantages-item {
  width: 33.33%;
  height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.advantages-item._img {
  width: 66.66%;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  text-transform: uppercase;
}

.advantages-line {
  width: 60px;
  height: 2px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px 0;
}

.advantages-description {
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 21px;
}

.mailling {
  padding: 96px 20px 104px;
  background-image: url(../images/jpeg/mailling-background.jpeg);
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailling-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.mailling-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px;
}

.mailling-form {
  width: 100%;
  max-width: 684px;
  height: 52px;
  margin-top: 34px;
  display: flex;
}

.mailling-form-email {
  width: 100%;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 0;
  padding: 14px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.mailling-form-email::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.mailling-button {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  color: white;
  text-transform: uppercase;
}

.footer {
  height: 120px;
  display: flex;
  padding: 45px 70px 30px;
  justify-content: center;
  align-items: center;
}

.footer-social {
  list-style: none;
  display: flex;
  align-items: center;
}

.footer-social li a {
  padding: 13px;
  display: flex;
}

.footer-phone {
  margin: auto;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  list-style: none;
}

.footer-phone a {
  color: #000;
}

.filter {
  width: 100%;
  height: 410px;
  background-image: url(../images/preview/jpeg/catalog.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding: 35px 70px 70px;
}

.filter-title {
  size: 60px;
  line-height: 78px;
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
  margin: unset;
}

.filter-breadcrumbs {
  color: white;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin-top: 8px;
  gap: 30px;
}

.filter-breadcrumbs li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-breadcrumbs li:not(:first-child)::before {
  content: '>';
  position: absolute;
  left: -20px;
}

.filter-breadcrumbs a {
  color: #fff;
}

.catalog-filter {
  display: flex;
  margin-top: 50px;
}

.catalog-filter-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-filter-title {
  color: white;
  width: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  color: white;
}

.hostels {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.hostels-header {
  display: flex;
}

.hostels-title {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hostels-tools {
  margin-left: auto;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  color: #E5E5E5;
}

.hostels-views {
  margin-left: auto;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 54px 70px 80px;
  justify-content: center;
  align-items: center;
}

.item {
  border: 1px solid #E6E6E6;
  display: flex;
}

.items-card-image {
  padding: 20px 20px 206px;
}

.items-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  position: absolute;
  display: flex;
  text-align: left;
  margin: 16px 20px;
}

.item-row {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
}

.item-column {
  text-align: left;
  align-items: center;
  margin: 16px 20px;
}

.item-column-price {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 16px 20px;
}

.pagination {
  width: 60px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-list{
  list-style: none;
  display: flex;
  margin-left: 28px;
  height: 100%;
}
